{% extends 'base.html' %}
{% block title %}
    <title>风险操作</title>
{% endblock %}
{% block bg %}bg9.PNG{% endblock %}
{% block table %}
    <input class="form-control" id="myInput" type="text" placeholder="Search.." style="width:40%; margin:10px auto">
    <table class="table" style="width: 700px; margin: 10px auto; color: navajowhite">
        <thead>
        <tr>
            <th scope="col">序号</th>
            <th scope="col">时间</th>
            <th scope="col">描述</th>
        </tr>
        </thead>
        <tbody id="myTable">
        {% for wa in warnings %}
            <tr>
                <td>{{ wa.id }}</td>
                <td>{{ wa.date }}</td>
                <td>{{ wa.description }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block add_button %}
{% endblock %}